label
    margin-bottom: .5rem
    // color: $text-muted
    font-size: .875rem

body
    position: relative

::-moz-selection
    color: #fff
    background-color: $primary
::selection
    color: #fff
    background-color: $primary
