// mixins
@mixin square($size)
    width: $size
    height: $size

@mixin absolute($top, $right, $bottom, $left)
    position: absolute
    top: $top
    right: $right
    bottom: $bottom
    left: $left
