// mixins
@mixin square($size)
    width: $size
    height: $size

@mixin position($po, $top, $right, $bottom, $left)
    position: $po
    top: $top
    right: $right
    bottom: $bottom
    left: $left