@import 'variables'

$primary:       #e93237
$secondary:     #202033
$success:       #029f69
$info:          #009ee3
$warning:       #ffac01
$danger:        #e12e2e
$light:         #f8f9fa
$dark:          #6c757d
$blue-landing:  #2B8DC3

$theme-colors: ("primary": $primary, "secondary": $secondary, "danger": $danger, "success": $success, "warning": $warning, "info": $info, "light": $light, "dark": $dark, "blue-landing": $blue-landing)

$spacer: 1rem
$spacers: (0: 0, 1: $spacer / 4, 2: $spacer / 2, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3)

$new-spacers: (6: ($spacer * 3.5), 7: ($spacer * 4), 8: ($spacer * 5), 9: ($spacer * 8), 10: ($spacer * 10))
$spacers: map-merge($new-spacers, $spacers)

$enable-rounded: false

$enable-responsive-font-sizes: true
$rfs-class: 'disable'
$min-contrast-ratio: 1

$body-color:    #39425B
$body-bg:       #F6F8FA
$text-muted:    #8D93A4

$nav-tabs-link-active-color:        $primary
$nav-tabs-link-active-bg:           rgba($primary, .15)
$nav-tabs-link-active-border-color: transparent transparent transparent
$nav-tabs-link-hover-border-color:  transparent transparent transparent

$badge-font-weight:                 600
$badge-padding-y:                   .5em
$badge-padding-x:                   1em

$form-check-label-cursor:       pointer
$input-btn-focus-box-shadow:    none !important
$input-focus-border-color:      $primary
$form-select-focus-box-shadow:  $input-btn-focus-box-shadow

$navbar-toggler-focus-width: 0
$navbar-dark-toggler-border-color: transparent

$modal-backdrop-bg:                 $secondary
$modal-backdrop-opacity:            .7

$dropdown-bg: rgba($secondary, .8)
$dropdown-border-color: rgba(#fff, .1)
$dropdown-link-color: white
$dropdown-link-hover-bg: rgba($secondary, .5)
$dropdown-link-hover-color: white
$dropdown-header-color: rgba(white, .75)

// Custom utilities
@import "custom-bs-utilities"

// Bootstrap
@import '~bootstrap/scss/bootstrap'

@import "custom-bs-mixins"

// Components
@import "components/avatars"

// Custom style
@import "global"
@import "custom"
@import "landing"

// vendors

//// fontawesome
@import "~@fortawesome/fontawesome-free/css/all.min.css"
